In [62]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('Data/raw_residential_data.csv')
df2 = pd.read_csv('Data/raw_address_points.csv')

C:\Users\X\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The next three cells create a smaller data frame with useable prices.
- 1) First create a Smaller DF containing only records with prices since 2010.
- 2) Then index the prices to smooth out secular and seasonal trends in prices.  Using an index created from monthly medians. This is done by creating a df of monthly indeces.
- 3) Join the new df to the one from 1) above, and create an indexed price.  This price should be usable for analysis.

In [63]:
# Creating a smaller DF that has only records with prices with sales in 2010 and beyond.
df1['SALEDATE']=pd.to_datetime(df1['SALEDATE']) # first convert the Saledate to a datetime format
df1['YearMonth'] = df1['SALEDATE'].map(lambda x: 100*x.year + x.month) # Create a "Year/Month Field"

# Now create the new, smaller df
dfPrice = df1[df1.PRICE > 0]
dfPrice = dfPrice[dfPrice.YearMonth >= 201001]

# Now find the median of all records to use as a base for the index.
MedianIndexPrice = dfPrice.PRICE.median()

print('Number of Records ',len(dfPrice), '-- Median Price = ',MedianIndexPrice)

Number of Records  31158 -- Median Price =  606375.0

In [64]:
# Now create a df with median price by month
MonthlyMedians = dfPrice.groupby(['YearMonth'])['PRICE'].median()
Monthlydf = pd.DataFrame(MonthlyMedians) # turn it into a data frame
Monthlydf['MonthIndex']=Monthlydf.PRICE/MedianIndexPrice # Create an index for the month
Monthlydf=Monthlydf.rename(columns = {'PRICE':'MonthlyMedian'}) # Rename "PRICE" Column to describe it and avoid confusion

Monthlydf.head()

           MonthlyMedian  MonthIndex
YearMonth
201001          390000.0    0.643166
201002          399500.0    0.658833
201003          382500.0    0.630798
201004          395400.0    0.652072
201005          410000.0    0.676149

In [65]:
df = pd.merge(dfPrice,Monthlydf,on='YearMonth') #Combine the two dfs
df['IndexedPrice'] = df.PRICE/df.MonthIndex
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31158 entries, 0 to 31157
Data columns (total 43 columns):
OBJECTID             31158 non-null int64
SSL                  31158 non-null object
BATHRM               31158 non-null float64
HF_BATHRM            31157 non-null float64
HEAT                 31158 non-null float64
HEAT_D               31158 non-null object
AC                   31158 non-null object
NUM_UNITS            31158 non-null float64
ROOMS                31151 non-null float64
BEDRM                31156 non-null float64
AYB                  31153 non-null float64
YR_RMDL              20485 non-null float64
EYB                  31158 non-null int64
STORIES              31125 non-null float64
SALEDATE             31158 non-null datetime64[ns]
PRICE                31158 non-null float64
QUALIFIED            31158 non-null object
SALE_NUM             31158 non-null int64
GBA                  31158 non-null int64
BLDG_NUM             31158 non-null int64
STYLE                31158 non-null float64
STYLE_D              31158 non-null object
STRUCT               31158 non-null float64
STRUCT_D             31158 non-null object
GRADE                31158 non-null float64
GRADE_D              31158 non-null object
CNDTN                31158 non-null float64
CNDTN_D              31158 non-null object
EXTWALL              31158 non-null float64
EXTWALL_D            31158 non-null object
ROOF                 31158 non-null float64
ROOF_D               31158 non-null object
INTWALL              31158 non-null float64
INTWALL_D            31158 non-null object
KITCHENS             31157 non-null float64
FIREPLACES           31157 non-null float64
USECODE              31158 non-null int64
LANDAREA             31158 non-null int64
GIS_LAST_MOD_DTTM    31158 non-null object
YearMonth            31158 non-null int64
MonthlyMedian        31158 non-null float64
MonthIndex           31158 non-null float64
IndexedPrice         31158 non-null float64
dtypes: datetime64[ns](1), float64(22), int64(8), object(12)
memory usage: 10.5+ MB

In [66]:
df.groupby(['YearMonth'])['IndexedPrice','PRICE'].median()

           IndexedPrice     PRICE
YearMonth
201001         606375.0  390000.0
201002         606375.0  399500.0
201003         606375.0  382500.0
201004         606375.0  395400.0
201005         606375.0  410000.0
201006         606375.0  450000.0
201007         606375.0  502500.0
201008         606375.0  549450.0
201009         606375.0  380000.0
201010         606375.0  420000.0
201011         606375.0  461500.0
201012         606375.0  462500.0
201101         606375.0  437500.0
201102         606375.0  350000.0
201103         606375.0  375929.0
201104         606375.0  421000.0
201105         606375.0  485000.0
201106         606375.0  497250.0
201107         606375.0  567000.0
201108         606375.0  516500.0
201109         606375.0  460000.0
201110         606375.0  495000.0
201111         606375.0  415000.0
201112         606375.0  470000.0
201201         606375.0  400000.0
201202         606375.0  490000.0
201203         606375.0  476000.0
201204         606375.0  482850.0
201205         606375.0  548000.0
201206         606375.0  602500.0
...                 ...       ...
201602         606375.0  607500.0
201603         606375.0  585000.0
201604         606375.0  656500.0
201605         606375.0  669500.0
201606         606375.0  713000.0
201607         606375.0  712000.0
201608         606375.0  712500.0
201609         606375.0  675500.0
201610         606375.0  663900.0
201611         606375.0  675000.0
201612         606375.0  648930.0
201701         606375.0  626500.0
201702         606375.0  572934.5
201703         606375.0  665000.0
201704         606375.0  652500.0
201705         606375.0  725000.0
201706         606375.0  720500.0
201707         606375.0  699900.0
201708         606375.0  645000.0
201709         606375.0  600000.0
201710         606375.0  716000.0
201711         606375.0  611250.0
201712         606375.0  640000.0
201801         606375.0  593500.0
201802         606375.0  586511.5
201803         606375.0  599950.0
201804         606375.0  670000.0
201805         606375.0  692000.0
201806         606375.0  675000.0
201807         606375.0  657000.0

[103 rows x 2 columns]